.cards{
    background-color: rgba(237, 229, 229, 0.162);
    cursor: grab;
    user-select: none;
    width: 80%;
    min-width: 300px;
    max-width: 1100px;
    min-height: 600px;
    /* margin: 20px 0 100px 0 ; */
    overflow-x: hidden;
    overflow-y: hidden;
    /* white-space: nowrap;
    transition: all 0.2s;
    transform: scale(0.98);
    will-change: transform; */
    user-select: none;
    display: flex;
    align-items: center;
    border-radius: 12px;
    padding: 0px 10px;
    gap: 80px;
    animation: fade-in 2s ease forwards;
    margin: 0 auto;
    /* scroll-snap-type: x mandatory; */
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@media screen and (max-width: 920px) {

    .cards {
        overflow-x: scroll;
    }

    
}

