.cards{
    max-width: 1000px;
    width: 100%;
    padding: 40px 0;
    height: 540px;
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    padding: 0px;
    background-color: rgba(237, 229, 229, 0.162);
}

/* .container{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
} */