@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

.card {
    font-family: 'Poppins', sans-serif;
    position: relative;
    width: 350px;
    min-width: 300px;
    height: 190px;
    background: #fff;
    border-radius: 20px;
    box-shadow: 0 35px 80px rgba(0, 0, 0, 0.15);
    transition: 0.5s all ease;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 4px 10px 0 4px;
    animation: fade-in 2s ease forwards;
    /* scroll-snap-align: center; */

}

@keyframes fade-in {
    0% {
        opacity: 0;
        transform: translateX(600px);
    }
    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}


/* .expand_card{
    height: 450px;
    transform: scale(1.1);
    z-index: 4;
} */

.card:hover {
    height: 450px;
    transform: scale(1.1);
    z-index: 4;
}

.imgBox {
    position: absolute;
    left: 50%;
    top: -50px;
    transform: translateX(-50%);
    width: 150px;
    height: 150px;
    background: rgba(24, 24, 24, 0.523);
    border-radius: 20px;
    box-shadow: 0 15px 50px rgba(0, 0, 0, 0.35);
    transition: 0.5s all ease;
    z-index: 1;
}


.card:hover .imgBox {
    width: 250px;
    height: 250px;
}

.imgBox img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.addImage {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    border-radius: 20px;
    background-color: rgba(23, 23, 25, 0.552);
    content: '';
    opacity: .2;
    cursor: pointer;
    transition: 0.2s all ease-in-out;
}

.addImage img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80px;
    height: 80px;
}

/* .imgBox:hover .addImage {
    opacity: 1;
} */

.icon_close {
    width: 50px;
    height: 50px;
    background-color: rgb(240, 234, 52);
    border-radius: 50%;
    background-image: url('../../assets/svg/close.svg');
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 0 35px 80px rgba(0, 0, 0, 0.15);
    background-size: 20px;
    transform: translateY(-80px);
    opacity: 1;
    z-index: 2;
}

.card .content {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    overflow: hidden;
}

.card .content .details {
    padding: 40px;
    text-align: center;
    width: 100%;
    height: 220px;
    transition: 0.5s all ease;
    transform: translateY(190px);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    /* background-color: red; */
}


.card:hover .content .details {
    transform: translateY(30px);
}

.card .content .details h2 {
    font-size: 1.25em;
    font-weight: 600;
    color: #555;
    line-height: 1.2em;
}

.card .content .details h2 span {
    font-size: 0.75em;
    font-weight: 500;
    opacity: 0.5;
}

.flex_left_container {
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.flex_left_container div {
    display: flex;
    /* background-color: beige; */
    margin-left: 20px;
    gap: 10px;
}

.card .content .details p {
    color: #555;
}

.button {
    line-height: 50px;
    height: 50px;
    text-align: center;
    width: 250px;
    cursor: pointer;
    background-color: rgb(35, 35, 69);
    border-radius: 12px;
    font-weight: 700;
    font-size: 1em;
}

.button {
    color: rgb(241, 242, 236);
    transition: all 0.5s;
    position: relative;
    border: none;
    border-radius: 12px;
}

.button::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(231, 224, 151, 0.1);
    transition: all 0.3s;
    border-radius: 12px;
}

.button:hover::before {
    opacity: 0;
    transform: scale(0.5, 0.5);

}

.button::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    transition: all 0.3s;
    border: 1px solid rgba(228, 222, 181, 0.5);
    transform: scale(1.2, 1.2);
    border-radius: 12px;
}

.button:hover::after {
    opacity: 1;
    transform: scale(1, 1);
}


.button a {
    color: white;
    text-decoration: none;
}

input[type=radio] {
    display: none;
}

/* #item-2:checked ~ .cards #selector-1,
#item-1:checked ~ .cards #selector-3,
#item-3:checked ~ .cards #selector-2{
    transform: translateX(-40%) scale(0.8);
    opacity: 0.6;
    z-index: 0;
}

#item-3:checked ~ .cards #selector-1,
#item-1:checked ~ .cards #selector-2,
#item-2:checked ~ .cards #selector-3{
    transform: translateX(40%) scale(0.8);
    opacity: 0.6;
    z-index: 0;
}

#item-1:checked ~ .cards #selector-1,
#item-2:checked ~ .cards #selector-2,
#item-3:checked ~ .cards #selector-3{
    transform: translateX(0) scale(1);
    z-index: 1;
} */