@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

#root {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(35, 35, 69);
  gap: 20px;
}

* {
  margin: 0;
  padding: 0;
  scrollbar-color: var(rgb(35, 35, 69)) white;
  scrollbar-width: thin;
  font-family: 'Poppins', sans-serif;
}
/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: white;
}

*::-webkit-scrollbar-thumb {
  background-color: rgb(35, 35, 69);
  /* border-radius: 20px; */
  border: 100% solid rgb(35, 35, 69);
}

@media screen and (max-width: 920px) {

   #root {
     width: 100%;
     height: auto;
   }

    
}
@media screen and (max-width: 920px) {

   #root {
     width: 100%;
     height: auto;

   }

    
}


